.select-gj8 {
    font-size: 1.7em;
    position: relative;
    height: 100%;
    width: 100%;

    &__title {
        box-shadow: 0px 10px 15px #00000017;
        border-radius: 6px;
        padding: 11px 18px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        border: 2px solid #ddd;
        color: $color-primary-light;
        font-weight: 800;
        
        &__arrow {
            transform: rotate(0);
            transition: $trs;
            color: $color-text;
            &--active {
                transform: rotate(180deg);
            }
        }
        &__current {
            text-transform: capitalize;
        }
    }
    &__content {
        position: absolute;
        background: white;
        width: 100%;
        top: 64px;
        display: none;
        border-radius: 6px;
        box-shadow: 0px 10px 15px #00000017;
        z-index: 1;
        &--active {
            display: block;
        }
        max-height: 343px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #cccccc;
            border-radius: 11px;
            border: 0px solid #ffffff;
        }
        &::-webkit-scrollbar-track {
            background: #fff;
        }
        
    }
    &__option {
        padding: 8px 18px;
        cursor: pointer;
        transition: $trs;
        text-transform: capitalize;
        transition: $trs;
        &--active {
            background: $color-item-active;
            font-weight: 800;
            color: $color-primary-light;
        }
        &:hover {
            background: $color-item-active;
        }
        &:first-child {
            border-radius: 6px 6px 0 0;
        }
        &:last-child {
            border-radius: 0 0 6px 6px;
        }
    }
}
.arrow-select {
    position: relative;
    width: 50px;
    height: 20px;
    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 12px;
        height: 2.5px;
        background: #c0c0c0;
        top: 10px;
        left: 31px;
        transform: rotate(45deg);
        transition: all 200ms ease-in-out;
    }    
    &::after {
        content: "";
        position: absolute;
        display: block;
        top: 10px;
        width: 12px;
        height: 2.5px;
        background: #c0c0c0;
        right: 0;
        transform: rotate(-45deg);
        transition: all 200ms ease-in-out;
    }  
    &__active {
        &::before {
            transform: rotate(-45deg);
        } 
        &::after {
            transform: rotate(45deg);
        }   
    }  
}
.checkbox-article-ads {
    &__active {
        background: $color-primary-light;
    }
}
