.card__widget {
    background: #fff;
    box-shadow: 0 5px 15px #00000026;
    border-radius: 6px;
    display: flex;
    align-items: center;
    font-size: 1.6em;
    margin-top: 20px;
    padding-left: 14px;
    &__logo {
        width: 80px;
        margin-right: 10px;
    }
    &__content {
        display: flex;
        flex-direction: column;

        &__title {
            font-weight: bold;
        }
        &__paragraph {  
            margin: 0 !important;
        }
    }
}