/* Tooltips */
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: #555; /* #4c4c4c*/
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  padding: 10px 15px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-top: 55px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*  top: 105%;
  left: 50%;
  margin-left: -60px;*/
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
