@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");
@keyframes fadeInUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes viewHide {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateY(30px);
    opacity: 0;
  }
}
.fadeInLeft {
  animation: 300ms fadeInLeft ease-in-out;
}

.main-table-tabulator {
  position: relative;
  padding: 15px;
}
.main-table-tabulator .tabulator-gloobal.tabulator {
  width: 100%;
  border: none;
  border-radius: 6px;
}
.main-table-tabulator .tabulator-gloobal.tabulator input[type=checkbox] {
  position: relative;
  cursor: pointer;
  margin-left: 5px;
}
.main-table-tabulator .tabulator-gloobal.tabulator input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: -2px;
  border: 2px solid #737373;
  border-radius: 3px;
  background-color: white;
}
.main-table-tabulator .tabulator-gloobal.tabulator input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 1px;
  left: 4.4px;
}
.main-table-tabulator .tabulator-gloobal.tabulator input[type=checkbox]:checked:before {
  background: #42b574;
  border-color: #42b574;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-header {
  border-bottom: none;
  background: #f5f5f5;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-header .tabulator-col {
  background: #fff;
  height: 70px; /* Alto del header */
  border: none;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-header .tabulator-col.cur-drag {
  display: none;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-header .tabulator-col.tabulator-sortable.tabulator-col-sorter-element {
  background: white;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-header .tabulator-col.custom-checkbox-cell .tabulator-col-content {
  border-radius: 6px 0 0 0;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-header .tabulator-col.custom-checkbox-cell .tabulator-col-content .tabulator-col-title i {
  cursor: pointer;
  padding: 0px;
  color: #737373;
  font-size: 1.5em;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-header .tabulator-col.custom-id {
  position: relative;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-header .tabulator-col.custom-id .tabulator-col-content .tabulator-col-title .tabulator-header-popup-button i {
  color: white;
  font-size: 1.3em;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-header .tabulator-col.actions-gloobal .tabulator-col-content {
  border-radius: 0 6px 0 0;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-header .tabulator-col .tabulator-col-content {
  padding: 12px;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
  font-weight: 700;
  color: #000;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-header .tabulator-col .tabulator-header-filter input {
  margin-top: 10px;
  outline: none;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-header .tabulator-header-contents .tabulator-headers {
  width: 100%;
  background: white;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-left {
  border: none;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-tableholder {
  background: #fff;
  padding: 5px 0;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-tableholder::-webkit-scrollbar {
  height: 5px;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-tableholder::-webkit-scrollbar-track {
  background: #fff;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-tableholder::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 11px;
  border: 0px solid #ffffff;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-tableholder .tabulator-table {
  width: 100%;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-row {
  background: #fff;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-row.tabulator-selected {
  background: #f5f5f5;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  font-weight: 700;
  width: 100%;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-row.tabulator-selected .checkbox::before {
  font-family: "Material Icons";
  content: "\e834";
  opacity: 1;
  transition: all 300ms ease-in-out;
  font-weight: 400;
  color: #42b574;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-row .tabulator-cell {
  border: none;
  border-bottom: 1px solid #e4e4e4;
  padding: 12px;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-left {
  border: none;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-row .tabulator-cell.cur-drag {
  position: absolute;
  left: 2px;
  top: 1px;
  opacity: 0;
  transition: all 300ms ease-in-out;
  padding: 0;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-row .tabulator-cell.cur-drag::before {
  font-family: "Material Icons";
  content: "\e945";
  opacity: 1;
  transition: all 300ms ease-in-out;
  font-weight: 400;
  cursor: drag;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-row .tabulator-cell.cur-drag.tabulator-row-handle {
  width: 10px !important;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-row .tabulator-cell .tabulator-row-handle-box {
  display: none;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-row:hover .tabulator-cell.cur-drag {
  opacity: 1;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-row .checkbox {
  margin-top: -4px;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-row .checkbox::before {
  font-family: "Material Icons";
  content: "\e835";
  opacity: 1;
  transition: all 300ms ease-in-out;
  font-weight: 400;
  padding: 0px;
  color: #737373;
  font-size: 0.87em;
  margin-bottom: 10px;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-footer {
  border-top: none;
  padding: 10px;
  background: #fff;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-footer .tabulator-footer-contents {
  background: #fff;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-footer .tabulator-page {
  border: none;
  font-weight: 700;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-footer .tabulator-page.active {
  color: #42b574;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-footer .tabulator-pages {
  margin: 0 7px 4px 7px;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-footer .tabulator-page-size {
  outline: none;
  border: 1px solid silver;
  margin: 0 15px;
}
.main-table-tabulator .tabulator-gloobal.tabulator .tabulator-footer .tabulator-paginator {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.main-table-tabulator .tabulator-gloobal.tabulator .actions-table {
  display: flex;
  color: #c71585;
  position: relative;
  margin-top: -5px;
}
.main-table-tabulator .tabulator-gloobal.tabulator .actions-table i {
  cursor: pointer;
}
.main-table-tabulator .tabulator-gloobal.tabulator .actions-table i:nth-child(2) {
  color: #333;
}
.main-table-tabulator .tabulator-gloobal.tabulator .actions-table .content-more-vert {
  background: #fff;
  margin: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1411764706);
  border-radius: 6px;
  position: absolute;
  color: #737373;
  top: -21px;
  right: -23px;
  display: none;
  animation: 300ms fadeInUp ease-in-out;
}
.main-table-tabulator .tabulator-gloobal.tabulator .actions-table .content-more-vert .item-more-vert {
  padding: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  color: #c71585;
}
.main-table-tabulator .tabulator-gloobal.tabulator .actions-table .content-more-vert .item-more-vert:hover {
  transform: translateY(-3px);
}
.main-table-tabulator .tabulator-gloobal.tabulator .actions-table .content-more-vert .item-more-vert i {
  font-size: 1.5em;
}

.tabulator-menu .tabulator-menu-item {
  display: flex;
  align-items: center;
  padding: 10px !important;
}
.tabulator-menu .tabulator-menu-item i {
  color: #42b574;
  font-size: 1.5em;
  margin-top: 1px;
}
.tabulator-menu .tabulator-menu-item span {
  display: inline-flex;
}
.tabulator-menu .tabulator-menu-item span span {
  margin-top: 3px;
  margin-left: 5px;
  font-weight: 700;
}
.tabulator-menu .tabulator-menu-item:nth-child(1) {
  display: none;
}
.tabulator-menu .tabulator-menu-item:nth-child(2) {
  display: none;
}
.tabulator-menu .tabulator-menu-item:nth-child(3) {
  display: none;
}

.dropdown-table {
  font-size: 1.5em;
  width: 167px;
  position: absolute;
}
.dropdown-table.actions {
  bottom: 30px;
  left: 220px;
}
.dropdown-table.selected {
  bottom: 30px;
  left: 40px;
}
.dropdown-table .action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555555;
  padding: 5px 10px;
  border-radius: 3px;
  border: 2px solid #c0c0c0;
  cursor: pointer;
  font-weight: bold;
  background: #FFF;
}
.dropdown-table .items-actions {
  display: none;
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
  flex-direction: column;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3137254902);
  margin-top: 10px;
  font-weight: bold;
  border-radius: 4px;
  animation: var(--fadeInUp);
  margin-bottom: 20px;
}
.dropdown-table .items-actions .item {
  padding: 15px;
  color: var(--color-text);
  cursor: pointer;
  transition: var(--trs);
  background: #fff;
}
.dropdown-table .items-actions .item:nth-child(1) {
  border-radius: 4px 4px 0 0;
}
.dropdown-table .items-actions .item:last-child {
  border-radius: 0 0 4px 4px;
}
.dropdown-table .items-actions .item:hover {
  background: #eee;
}

@media only screen and (max-width: 870px) {
  .main-table-tabulator .tabulator-gloobal.tabulator .tabulator-footer {
    padding: 60px 10px 10px 10px;
  }
  .main-table-tabulator .tabulator-gloobal.tabulator .tabulator-footer .tabulator-paginator {
    justify-content: flex-start;
  }
  .dropdown-table.selected {
    bottom: 75px;
  }
  .dropdown-table.actions {
    bottom: 75px;
  }
}
@media only screen and (max-width: 500px) {
  .main-table-tabulator {
    padding: 5px;
    margin: 5px;
  }
  .dropdown-table.selected {
    left: 20px;
    bottom: 65px;
  }
  .dropdown-table.actions {
    left: 200px;
    bottom: 65px;
  }
}
@media only screen and (max-width: 398px) {
  .main-table-tabulator .tabulator-gloobal.tabulator .tabulator-footer {
    padding: 150px 10px 10px 10px;
  }
  .main-table-tabulator .tabulator-gloobal.tabulator .tabulator-footer .tabulator-paginator label {
    display: none;
  }
  .main-table-tabulator .tabulator-gloobal.tabulator .tabulator-footer .tabulator-footer-contents {
    padding: 0;
  }
  .dropdown-table.selected {
    left: 5vw;
    width: 90%;
    bottom: 150px;
  }
  .dropdown-table.actions {
    left: 5vw;
    width: 90%;
    bottom: 100px;
  }
}

/*# sourceMappingURL=table-main.css.map */
